
@define-color bg #282c34;
@define-color text #abb2bf;
@define-color invText #abb2bf; /* text when background is accent */
@define-color accent #5b6268;


* {
  border: none;
  border-radius: 2px;
  font-family: "SFMono", 
               "Font Awesome 6 Free Solid";
  font-size: 16px;
  min-height: 0px;
}

window#waybar {
  background-color: @accent;
  color: @text;
  opacity: 1;
  border-radius: 0px;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  padding: 0 5px;
	color: @text;
}

#workspaces button.active {
  background-color: @accent;
  color: @invText;
  /* color: @background; */
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray,
#custom-icon {
  background-color: transparent;
  color: @text;
  margin: 0px;
}


.modules-left {
  background-color: @bg;
  padding: 0px 0px 0px 0px;
}

#window {
  color: @invText;
  background-color: @accent;
  padding-left: 4px;
}

.modules-right {
  background-color: @bg;
  padding: 0px 0px 0px 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
